/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 10px;
    transition-duration: 0.5s;
}
.hover-highlight-card:hover{
    background-color: rgb(116, 161, 219);
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    transition-duration: 0.5s;
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
    transition-duration: 0.5s;
}

.animated-nav-menu a:hover {
    padding: 8px;
    color: white;
    background-color: #00aaff;
    transition-duration: 0.5s;
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}
.button-press-animation button:active {
    transform: scale(0.8,0.8);
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner{
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 0.6;
    transition-duration: 0.5s;
}
.fading-gallery img:hover   {
    opacity: 1;
    transform: translatey(-20px);
    transform: scale(1.2,1.2);
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    transition-duration: 0.5s;
}