
.fixed {
    position: fixed;
}

.bottom{
    bottom: 10px;
}

.left {
    left: 10px;
}

.right{
    right: 10px;
}

.title{
    font-size: 60px;
    margin: auto;
    width: 14%;
    padding: 20px;
    text-align: center;
    background-color: teal;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(28, 109, 109);
    position: relative;
    right: 200px;
    top: 50px;
}

.link{
    background-color: darkgray;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 25px;
    transition-duration: 0.5s;
}

.link:hover{
    background-color: gray;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px black;
}


.image{
    width: 30%;
    height:auto;
    border-radius: 100%;
    left: 0vw;
    position: relative;
}

.text{
    width: 50vw;
  border: 15px solid rgb(138, 185, 138);
  padding: 20px;
  margin: 50px;
  font-style: italic;
  background-color: rgb(184, 194, 156);
  position: relative;
  bottom: 16vw;
}
.subtitle{
    position: relative;
    left: 80px;
    font-size: 40px;
    bottom: 15vw;
}

body {
    background-color: lightblue;
}

.fimg{
    position: relative;
    width: 26%;
    height: auto;
    left: 10vw;
    top: 15vw;
}

.diet{
    top: 5vw;
}
.listofdiet{
    position: relative;
    left: 60vw;
    font-style: italic;
}

video{
    position: relative;
    bottom: 38vw;
    height: 20vw;
    width: auto;
    left: 60vw;
}

.imagemovment{
    position: relative;
    width: 20vw;
    height:auto;
    top: 10vw;
}

.round{
    border-radius: 50%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    align-items: center;
}

.swim{
    position: relative;
    height: 20vw;
    width: auto;
    left: 40vw;
}

.colorchange{
    border: black 0.26vw;
    padding: 0.521vw 1.042vw;
    background-color: black;
    color: white;
    transition: 0.25s;
    display: inline-block;
    cursor: pointer;
    position: relative;
    bottom: 15vw;
    left: 5vw;
}

.colorchange:active{
    transform: scale(70%);
    box-shadow:  0.5vw 0.5vw 0.5vw gray;
    transition: 0.1s  
}
.headtitle{
    position: relative;
    left: 5vw;
}

.fakebutton{
    border: white 1vw;
    padding: 1vw 1vw;
    background-color: black;
    color: blueviolet;
    display:inline-block;
    position: relative;
    right: 20vw;
    animation-duration:  1s ;   
    animation-name: button;
    animation-play-state: paused;
}

.fakebutton:hover{
    animation-play-state: running;
}

@keyframes button {
    from{
        left: 0%;
    }
    to{
        left: 50%;
    }
}